<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- My style -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Class List</title>
</head>
<body >
    <section class="main-header">
        <div class="container">
            <div class="options-active">
                <div class="to-do">
                    <a href="#">
                        <span><i class="far fa-list-alt"></i></span>
                        <span>To-do</span>
                    </a>
                </div>
                <div class="calendar">
                    <a href="#">
                        <span><i class="far fa-calendar"></i></span>
                        <span>Calendar</span>
                    </a>
                </div>
            </div>       
        </div>
    </section>
    <section class="main-class">
        <div class="container-fluid p-4">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-1">
                    <div class="class-room">
                        <div class="room-top">
                            <a href="#" class="room-info">
                                <h3 class="class-name">HK1_2020_504008_Cấu trúc dữ liệu và giải thuật_N3</h3>
                                <div class="teacher-name">Trần Hồ Lệ Phương Đan</div>
                            </a>
                            <div class="task">
                                <i class="fas fa-ellipsis-v"></i>
                                <div class="active">
                                    <ul class="option">
                                        <li>Move</li>
                                        <li>Unenroll</li>
                                    </ul>
                                </div>
                            </div>
                            <span class="teacher">Trần Hồ Lệ Phương Đan</span>
                        </div>
                        <div class="room-mid">
                            <img class="avatar"src="../img/user.png" alt="user-avatar">
                        </div>
                        <div class="room-bot">
                            <div class="document">
                                <span class="bag"><i class="fas fa-briefcase"></i></span>
                                <span class="file"><i class="far fa-folder"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <i class="far fa-question-circle"></i>
    </footer>
    <script src="..//assets//js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
    