<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="modal">
        <div class="modal-overlay"></div>

        <div class="modal-body">
            <!-- Register-form -->
            <div class="auth-form auth-form-register">
				<div class="form-container">
					<div class="form-header">
						<h3 class="form-heading">Đăng ký</h3>
						<span class="form-move-on-btn">Đăng nhập</span>
					</div>

					<form action="" class="auth-form-form">
                        <div class="form-group user-infors">
                            <input type="text" class="form-input user-infor" placeholder="Họ">
                            <input type="text" class="form-input user-infor" placeholder="Tên">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Nhập email">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-input" placeholder="Nhập password">
                            <input type="text" class="form-input" placeholder="Nhập lại mật khẩu">
                        </div>
                        <p class="form-notice">Sử dụng 8 kí tự trở lên và kết hợp các chữ cái, chữ số và biểu tượng.</p>
                    </form>

					<div class="auth-form-controls">
						<button class="btn form-controls-back btn-normal">QUAY LẠI</button>
						<button class="btn btn-primary">ĐĂNG KÝ</button>
					</div>

				</div>
			</div>
            <!-- Login-form -->
            <div class="auth-form auth-form-login">
				<div class="form-container">
					<div class="form-header">
						<h3 class="form-heading">Đăng nhập</h3>
						<span class="form-move-on-btn">Đăng ký</span>
					</div>

					<form class="auth-form-form">
                           <div class="form-group">
                                <input type="text" class="form-input" placeholder="Nhập email">
                            </div>
    
                            <div class="form-group">
                                <input type="password" class="form-input" placeholder="Nhập password">
                            </div>
                    </form>

					<div class="auth-form-relations">
						<div class="form-help">
							<a href="" class="form-help-link form-help-forgot">Quên mật khẩu</a>
							<a href="" class="form-help-link">Cần trợ giúp?</a>
						</div>
					</div>

					<div class="auth-form-controls">
						<button class="btn form-controls-back btn-normal">QUAY LẠI</button>
						<button class="btn btn-primary">ĐĂNG NHẬP</button>
					</div>
				</div>
			</div>
        </div>
    </div>
</body>
</html>