<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- My style -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-light justify-content-between navbar-light">
        <button type="button" id="btn-sidebar"  class="mr-3 btn-light border border-dark align-content-center">
            <span >
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-justify" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </span>
        </button>
        <a class="navbar-brand font-weight-bold text-info" href="#">Classroom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span>
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link function" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-custom py-1 px-0" data-toggle="dropdown">

                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus">
                                  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>

            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item bg-light" onclick="Open_create_class()">Tạo lớp học</a>
                <a class="dropdown-item bg-light"  onclick="Open_attend_class()">Tham gia lớp học</a>
            </div>
        </div>
        <div class="user-avatar mx-4">
            <img src="..\\img\\user.png" alt="User">
        </div>
    </nav>
    <!--Tao lop hoc-->
    <div class="create-class-form-container p-5">
        <br>
        <br>
        <form class="create-class-form bg-light col-7 mx-auto border rounded rounded-5 p-4 border-primary" action ="#" method="get" onsubmit="">
            <div class="create-class-form-header"><h2 class="text-primary">Tạo lớp học</h2></div>
            <div class="form-group">
                <label for="ClassName">Tên lớp học</label>
                <input type="text" name="ClassName"  class="form-control" id="ClassName" aria-describedby="emailHelp" placeholder="Tên lớp học">
                <small id="ClassName-help" class="form-text text-muted">Bạn cần nhập tên lớp học.</small>
            </div>
            <div class="form-group">
                <label for="Describe">Mô tả</label>
                <input type="text" class="form-control" name="Describe" id="Describe" placeholder="Mô tả về lớp học">
            </div>
            <div class="form-group">
                <label for="Theme">Chủ đề</label>
                <input type="text" class="form-control" name="Theme" id="Theme" placeholder="Chủ đề của lớp học">
            </div>
            <div class="form-group">
                <label for="Room">Phòng</label>
                <input type="text" class="form-control" name="Room" id="Room" placeholder="Phần">
            </div>
            <div class="form-button justify-content-between">
                <button type="reset" class="btn btn-light border border-primary" onclick="Close_create_class()">Hủy</button>
                <button type="submit" class="btn mt-1 btn-primary">Tạo lớp học</button>
            </div>
        </form>
    </div>
    <!--Them lop hoc-->
    <div class="attend-class">
        <header class="join-class-header bg-light">
            <div class="ml-2 user-avatar bg-light exit">
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-x" onclick="Close_attend_class()" >
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
            <div class="text"><h4>Tham gia lớp học</h4></div>
            <button type="button" class="join btn btn-primary mr-4">
                Tham gia
            </button>
        </header>
        <div class="container">
            <div class="row">
                <div class="box jumbotron bg-light border border-primary">
                    <div>
                        <p>Tài khoản mà bạn đang đăng nhập là</p>
                    </div>

                    <div class="group-account">
                        <div class="account">
                            <div>
                                <div class="user-avatar">
                                    <img class="img-avt" src="..\\img\\user.png" alt="Logo">
                                </div>
                            </div>

                            <div class="account-infor">
                                <h5>Nameffdsfđsfsdfsdfsdsfd</h5>
                                <p>gmailffdsfsfdsff</p>
                            </div>
                            <div class="short-and-fixed">
                                <div></div>
                            </div>
                        </div>
                        <button type="button" class="switch font-weight-bold btn btn-light border border-primary text-primary">
                            Chuyển tài khoản
                        </button>
                    </div>
                </div>
            </div>

            </br>
            <div class="row">
                <div class="box jumbotron bg-light border border-primary">
                    <h4>Mã lớp học</h4>
                    <p>Mã lớp học của bạn sẽ được giáo viên cấp, sau đó nhập vào đây</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Code</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="notice">
                    <h4>Để tham gia vào lớp học bạn cần:</h4>
                    <ul class="list-notice">
                        <li>Sử dụng tài khoản được ủy quyền</li>
                        <li>Sử dụng class code với 5-7 kí tự là chữ hoặc số, ký tự không hợp lệ sẽ không được chấp nhận</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Giao dien cua lop hoc-->
    <div class="main">
        <div class="container col-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-header">
                        <div class="btn-header" id="btn-header">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class=" rounded main-header-info">
                            <h2 class="main-heading">HK1_2020_504008_Cấu trúc dữ liệu và giải thuật_N3</h2>
                            <div class="class-teacher-name">Trần Hồ Lệ Phương Đan</div>
                        </div>

                        <div class="more-info-of-class" id="more-info-of-class">
                            <p><b>Phòng</b> E106</p>
                            <p><b>Chủ đề</b> Học offline</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 notices">
                    <div class="notices-important">
                        <h3 class="notice-title">Sắp đến hạn</h3>
                        <div class="main-notice">
                            <p>Tuyệt với không có việc làm</p>
                            <a href="#">
                                Xem tất cả
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    <div class="main-contents">
                        <div class="share-content" id="share-content" >
                            <div class="section1" ">
                            <div class="section-img">
                                <img src="../img/user.png" alt="img">
                            </div>
                            <div class="content-note">Chia sẻ vài điều với lớp học</div>
                        </div>
                        <!-- <div class="section2" ">
                            <i class="fas fa-exchange-alt"></i>
                        </div> -->
                    </div>
                    <div class="section-partition" id="section-partition">
                        <div class="partition-main">
                            <p class="share-something-notice">Chia sẻ với lớp học của bạn</p>
                            <textarea class="share-something border" name="share-something">weasdasd</textarea>
                        </div>
                        <div class="partition-attach">
                            <div class="btn-attach">
                                <button class="btn btn-do-task" id="add"><i class="fas fa-paperclip"></i> Thêm</button>
                            </div>
                            <div class="btn-task">
                                <button class="btn btn-do-task" id="cancel">Hủy bỏ</button>
                                <button class=" btn btn-do-task" id="ost">Đăng bài</button>
                            </div>
                        </div>
                    </div>
                    <div class="exchange-content">
                        <ul class="list-content">
                            <li>
                                <div class="main-task-content">
                                    <div class="main1">
                                        <div class="section-img">
                                            <img src="../img/user.png" alt="img">
                                        </div>
                                        <h4 class="user-name">Nguyễn Thành Luân</h4>
                                        <div class="dropup">
                                            <button type="button" class="btn bar-item" data-toggle="dropdown">
                                                    <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <div class="dropdown-menu action-with-item">
                                                <a class="dropdown-item" href="#">Link 1</a>
                                                <a class="dropdown-item" href="#">Link 2</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="content-chat">
                                        Anh không làm gì đâu fjhdsfdsgfjdsgfjhdsghfjgsdjfgdsjhgfhjdsgfjdsgjhdsgjfgffdgjfdsgfdsj
                                    </div>
                                    <div class="main2">
                                        <div class="section-img">
                                            <img src="../img/user.png" alt="img">
                                        </div>
                                        <div class="input-content-chat">
                                            <input type="text" placeholder="Thêm bình luận">
                                            <div class="btn-input">
                                                <i class="fas fa-paper-plane"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>









    <script src="..//assets//js//main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>